# UI & Frontend
streamlit
streamlit-diff-viewer
PySide6

# Database & AI Logic
chromadb
sentence-transformers
scikit-learn

# File Parsing
PyMuPDF
python-docx
pdf2docx

# Local LLM Integration
ollama
